.Deck-cardarea
{
    margin-top:100px;
}
.Deck-title
{
    color:rgb(126, 216, 247);
    text-transform: uppercase;
    font-size:3em;
    letter-spacing: 3px;
    margin-bottom:2px;
}
.Deck-Subtitle
{
    color:azure;
    margin-top:0px;
    padding-top:0px;
}
.Deck-btn
{
    margin-top:20px;
    background:none;
    border:2px solid white;
    outline:none;
    margin:0.5em;
    padding:1em 1.5em;
    color:rgb(117, 253, 117) ;
    font-size:1em;
    transition: 0.25s;
}
.Deck-btn:hover {
    border-color:rgb(117, 253, 117);
    color:#000000;
    margin-top:9px;
    font-size:1em;
    box-shadow: inset 0 0 0 2em rgb(117, 253, 117);
}