.RollDice {
  display:flex;
  flex-flow: column nowrap;
  min-height:100vh;
}
.RollDice button
{
  align-self:center;
  width:15em;
  padding:1em;
  border: 0px;
  border-radius:10px;
  color:white;
  background-color:black;
  margin-top:3em;
  font-size:1rem;
}
.RollDice button:hover {
 cursor:pointer;
 background-color: rgb(141, 60, 60);
 /* color:black; */
}